body {
    margin: 0;
    padding: 0;
    background: url(https://raw.githubusercontent.com/fauzan2720/E41201367-Workshop-Web/main/Minggu2/img/4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 270px;
    box-shadow: 0 0 10px 5px black;
  }
  
  .avatar {
    font-size: 50px;
    background: #bdc3c7;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    border-radius: 50%;
  }
  
  .login h2 {
    text-align: center;
    color: white;
    padding-top: 10px;
    letter-spacing: 2px;
  }
  
  .box-login {
    display: flex;
    margin-top: 15px;
    border-bottom: 2px solid white;
    padding: 8px 0;
  }
  
  .box-login i {
    font-size: 20px;
    color: white;
  }
  
  .box-login input {
    color: white;
    width: 100%;
    padding: 0 10px;
    background: none;
    border: none;
    outline: none;
  }
  
  .box-login input::placeholder {
    color: rgb(180, 178, 178);
  }
  
  .btn-login {
    width: 100%;
    background: none;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 20px;
    letter-spacing: 2px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .btn-login:hover {
    background: rgba(0, 0, 0, 0.8);
  }
  
  .bottom {
    margin-top: 10px;
    text-align: center;
  }
  
  .bottom a,
  span,
  label {
    color: white;
    font-size: 14px;
    text-decoration: none;
  }
  
  .bottom a:hover {
    text-decoration: underline;
  }